footer{
    width: 100%;
    background-color: #f2f2f2;
    height: 230px;
}
.footer{
    display: flex;
    justify-content: flex-start;
}
.footer h3{
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.marginA{

    margin-bottom: 5%;
}
.nosHebergements{
    margin-left: 14%;
}
.assistance{
    margin-left: 20%;
}
.footerBox{ 
    font-size: 12px;   
    height: 250px;
    width: 100%;    
}
/*-------------media---------------*/
@media only all and (max-width: 944px){
    footer{
        height: 250px;
    }
    .footerBox{
        font-size: 14px;
        height: 250px;
    }
    .assistance{
        margin-left: 150px;
    }
}

@media only all and (max-width: 768px){
    footer{
        height: 550px;
    }
    .footerBox{    
        height: 550PX;
        font-size: 16px;
    }
    .footer{
        display: flex;
        flex-direction: column;   
    }
    .propos{
        margin-left: 50px;
    }
    .nosHebergements{
        margin-left: 50px;
    }
    .assistance{
        margin-left: 50px;
    }
}
@media only all and (max-width: 475px){
    footer{
        height: 580px;
    }
    .footerBox{  
        height: 580px;  
        font-size: 14px;
    }
}
@media only all and (max-width: 350px){
    .propos{
        margin-left: 25px;
    }
    .nosHebergements{
        margin-left: 25px;
    }
    .assistance{
        margin-left: 25px;
    }
}
@media only all and (max-width: 281px){
    footer{
        height: 580px;
    }
    .footerBox{  
        height: 580px;  
        font-size: 12px;
    }

}
