*{
    font-family: 'Raleway',Impact,Arial,Verdana; 
}
.padding{
    padding-left: 25px;
    padding-right: 25px;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 17px;
}
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexStart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexEnd{
    display: flex;     
    justify-content: flex-end;
    align-items: center;     
}
.flexBetween{
    display: flex;  
    justify-content: space-between;  
    align-items: center;
}
.flexColumnStart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flexColumnCentre{
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.flexColumnAround{
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}
.flexColumnBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    
}
.decorationNone{
    text-decoration: none;
}
.bordureNone{
    border: none;
}
.texteGras{
    font-weight: bold;
}
.colorBleu{
    color: #0065fc;
}
.colorBleuClair{
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}
.backBleu {
    background-color: #0065fc;
}
.backBleuClair{
    background-color: #deebff;
}
.backGris{
    background-color: #f2f2f2;
}
/*NAV*/
.sizeNav{
    height: auto;
}
.sizeLiens{
    width: 100%;
}
.sizeLien12{
    margin-left: 60%;
}
.sizeLien{
    width: 143px;
    height: 99px;
}
.colorLien2{
    color: black;
}
.bordureNav{
    border-top: 1px solid transparent;
}
.bordureNav:hover{
    border-top: 1px solid #0065fc;
    cursor: pointer;
}
.bordure-nav:hover > a {
    color: #0065fc; 
}
.margLogo{
    margin-bottom: 7px;
}
/*Header*/
.bordureSearch{
    width: 360px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch{
    padding-left: 21px;
}
#rechercher{
    height: 44px;
    width: 202px;
    font-size: 18px;
    color: white;    
}
.iconSize{
    height: 44px;
    width: 44px;
    border-radius: 10px 0 0 10px;
}
#rechercherMobile{
    display: none;
}
.buttonSearch{
    height: 44px;
    width: 115px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.buttonSearchMobile{
    height: 44px;
    width: 44px;
    color: white;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}
.buttonSearch:hover{
    color: white;
    background-color: #f2f2f2;
}
/*Filtres*/
.widthEconomique{
    width: 167px;
}
.widthFamilial{
    width: 131px;
}
.widthRomantique{
    width: 157px;
}
.widthAnimaux{
    width: 208px;
}
.margFiltre{
    margin-top: 25px;
    margin-bottom: 25px;
}
.margFiltreTitre{
    margin-right: 18px;
}
.filtre{
    display: flex;
    align-items: center;
}
.filtreTexteIcons{
    border: 3px solid #f2f2f2;
    height: 38px;
    border-radius: 30px;
    margin-right: 22px;
}
.filtreTexteIcons:hover > .filtreTexte{
    color: #0065fc;
}
.filtreTexteIcons:hover > .filtreIcons{
    color: white;
    background-color: #0065fc;
}
.filtreIcons{
    margin-left: -2px;   
    border-radius: 25px;
    width: 44px;
    height: 44px;
    color: #0065fc;
    background-color: #deebff;
}
.filtreTexte{
    height: 44px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 0px 25px 25px 0px;
}
/*info-icon*/
.info{
    display: flex;
    align-items: center;
}
.parentIcon{
    width: 30px;
    height: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    
}
/*hebergements*/
.marginTitreHebergements{
    padding-left: 20px;
}
.lineHeight{
    line-height: 5px;
}
.sizeHebergements{
    width: 768px;
    height: 542px;
    margin-right: 10px;
    border-radius: 10px;
}
.lienHebergementsColor{
    color: black;
}
.lienDetailHebergements{
    width: 200px;
    height: 175px;
    font-size: 14px;
}
.blocHebergements{
    padding-left: 10px;
    padding-right: 10px;
}
.bloc1{
    margin-bottom: 12px;
}
.bloc2{
    margin-top: 12px;
}
.cubeHebergements{
    background-color:white;
    width: 200px;
    height: 175px;    
    padding: 1px;
    border-radius: 10%;
    margin-left: 10px;
    margin-right: 10px;
}
.cubeHebergements:hover{
    cursor: pointer;
    transform: scaleX(1.1);
}
.cubDetailsHebergements{
    width: 200px;
    height: 70px;   
    margin-left: 15px;
}
.imgHebergements1{
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements2{
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements3{
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements4{
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements5{
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements6{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98px;
    border-radius: 15px 15px 0 0;
}
/*Populaires*/
.lineHeightPopulaires{
    line-height: 12px;
}
.margintop{
    margin-top: 5px;
}
.blocPopulaires{
    width: 362px;
    height: 542px;
    margin-left: 20px;
    border-radius: 10px;
}
.sizePopulaires{
    width: 362px;
    height: 542px;
    margin-left: 20px;
    border-radius: 10px;
}
.margPopulaires{
    padding-left: 25px;
    padding-right: 25px;
}
.margPopulaires1{
    margin-top: 5px;
}
.margPopulaires2{
    margin-top: 25px;
    margin-bottom: 25px;    
}
.lienPopulairesColor{
    color: black;
}
.lienDetailPopulaires{
    width: 296px;
    height: 125px;
    font-size: 14px;
}
.cubePopulaires{
    margin-left: 25px;
    background-color: white;
    height: 125px;
    width: 296px;
    padding: 1% 0 1% 1% ;
    border-radius: 20px;
}
.cubePopulaires:hover{
    cursor: pointer;
    transform: scaleX(1.05);
}
.cubeDetailsPopulaires{
    width: 60%;
    padding-left: 19px;
    padding-right: 45px;
}
.imgPopulaires1{
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 125px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires2{
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 125px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires3{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 125px;
    border-radius: 15px 0 0 15px;
}
/*Activites*/
.bloc3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bloc4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.activites{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocActivites{
    width: 100%;
    min-height: 400px;
}
.blocActivites2356{
    width: 235px;
    height: 347px;
    margin-left: 25px;
}
.marginCube4{
    margin-left: 25px;
}
/* reglage bloc*/
.lienActivitesColor{
    color: black;
    line-height: 5px;
    font-size: 14px;
}
.lienDetailActivites{
    width: 100%;
    height: auto;
}
.cubeActivites{
    width: 235px;
    height: 347px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.cubeActivites:hover{
    cursor: pointer;
    transform: scaleX(1.03);
}
.cubeActivites2{
    width: 235px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites3{
    width: 235px;
    height: 127px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites5{
    width: 235px;
    height: 154px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites6{
    width: 235px;
    height: 166px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites6
.cubeActivites3
.cubeActivites2
.cubeActivites5:hover{
    cursor: pointer;
    transform: scaleX(1.03);
}
.cubeMargin3{
    margin-top: 40px;
}
.cubeMargin6{
    margin-top: 25px;
}
/*fin reglage bloc*/
.hauteurTitre{
    height: 50px;
}
.titreActivites{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;

}
.imgActivites1{
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 235px;
    height: 301px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivites2{
    background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 235px;
    height: 140px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivites3{
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 235px;
    height: 84px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivites4{
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 235px;
    height: 301px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivites5{
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 235px;
    height: 108px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivites6{
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 235px;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
/*footer*/
.footer{
    margin-top: 100px;
}
.linFoot{
    color: black;
}
.taillesBlocFoot{
    height: 150px;
}
.margeBlocFoot1{
    margin-left: 45px;
}
.margeBlocfoot2{
    margin-left: 100px;
}
.margeBlocFoot3{
    margin-left: 165px;
}
.divLienFoot{
    height: 30px;
    font-size: 12px;
}
/*responsive*/
@media screen and (max-width:1295px){
    .padding{
        padding-left: 20px;
        padding-right: 20px;        
    }
    .sizeLien12{
        margin-left: 35%;
    }
    .cubDetailsHebergements{        
        min-height: 98px; 
    }
    .cubePopulaires{
        margin-left: 25px;
        background-color: white;
        height: 125px;
        width: 296px;
        padding: 1px;
        border-radius: 20px;
    }
    .sizeHebergements{
        min-height: 542px;
    }
    .sizePopulaires{ 
        min-height: 542px;         
        margin-left: 0px; 
        padding: 10px;          
    }    
    .bloc1{
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bloc2{
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width:1100px){
    .padding{
        padding-left: 5px;
        padding-right: 5px;
    }
    .cubePopulaires{
        margin-left: 20px;
        background-color: white;
        height: 125px;
        width: 296px;
        padding: 1% 0 1% 1% ;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .sizeHebergements{
        min-height: 542px;    
    }
    .sizePopulaires{ 
        min-height: 542px;
        padding-right: 10px;  
        padding-left: 0px;
    }
    .marginCube4{
        margin-left: 10px;
    }
    .blocActivites2356{
        width: 235px;
        height: 347px;
        margin-left: 10px;
    }
    .blocPopulaires{
        margin-left: 0px;
    }
    .margPopulaires{
        padding-left: 0px;
        padding-right: 0px;
    }
    }  
@media screen and (max-width:992px){
    .filtreTexteIcons{
        margin-right: 12px;
    }
    .padding{
        padding-left: 25px;
        padding-right: 25px;
    }
    .flexColumnReverseAroundQueries{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .flexAroundQueries{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }  
    .blocPopulaires{
        width: 768px;
        height: 271px;
        margin-left: 0px;      
        border-radius: 10px;
        margin-bottom: 15px; 
        padding: 20px;
    }
    .sizePopulaires{ 
        width: 768px;
        height: 150px;
        min-height: 150px;  
        border-radius: 10px;        
    }        
    .cubePopulaires{
        background-color: white;
        height: 175px;
        width: 200px;
        padding: 1px;
        border-radius: 20px;
        margin-right: 20px;
    
    }
    .cubeDetailsPopulaires{
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .lienDetailPopulaires{
        width: 200px;
        height: 175px;
        font-size: 14px;
    }
    .imgPopulaires1{
        background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 175px;
        border-radius: 15px 0 0 15px;
    }
    .imgPopulaires2{
        background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 175px;
        border-radius: 15px 0 0 15px;
    }
    .imgPopulaires3{
        background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 175px;
        border-radius: 15px 0 0 15px;
    }
    .flexColumnAround{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
    .blocHebergements{
        padding-left: 20px;
        padding-right: 20px;
        padding: 25px;
    }
    .sizeHebergements{
        width: 768px;
        height: 542px;
        margin-right: 25px;
        padding-left: 25px;
        border-radius: 10px;
        margin-right: 0px;
        margin-top: 15px;
    }
    .cubeHebergements{
        background-color:white;
        width: 200px;
        height: 175px;    
        padding: 1px;
        border-radius: 20px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .blocActivitesQueries{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .blocActivites2356{
        width: 235px;
        height: 347px;
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .marginCube4{
        margin-top: 25px;
    }
    .bloc3{
        display: flex;
        justify-content: flex-start;        
    }    
    .bloc4{
        display: flex;
        justify-content: flex-start;
        align-items:  flex-start;   
    }
}
@media screen and (max-width:888px) {
    .filtre{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    #filtre1{
        display: flex;
        justify-content: flex-start;
    }
    #filtre2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
    }
    .filtreTexteIcons{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:768px) {
    .flexColumnQueries{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .sizeLien12{
        margin-left: 0px;
    }
    #rechercher{
        display: none;
    }
    #rechercherMobile{
        display: flex;
        height: 44px;
        width: 44px;
        font-size: 18px;
        color: white
    }
    .bordureSearch{
        width: 260px;
        border-radius: 10px;
        border: 0.5px solid #f2f2f2;
    }
    .flexAroundQueries{
        display: flex;        
        flex-direction: column;
        align-items: center;
    }
    .sizePopulaires{ 
        width: 340px;
        height: 690px;
        min-height: 150px;  
        border-radius: 10px;        
    }
    .blocPopulaires{
        width: 400px;
        height: 768px;
        margin-left: 0px;      
        border-radius: 10px;
        margin-bottom: 15px; 
        padding: 20px;
    }
    .cubePopulaires{
        margin-left: 25px;
        background-color: white;
        height: 125px;
        width: 296px;
        padding: 1% 0 1% 1% ;
        border-radius: 20px;
    }   
    .sizeHebergements{
        width: 400px;
        height: 1500px;
        margin-right: 25px;
        padding-left: 25px;
        border-radius: 10px;
        margin-right: 0px;
        margin-top: 15px;
    }
    .bloc1{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .bloc2{
        display: flex;
        flex-direction: column;
    }
    .cubeHebergements{
        background-color:white;
        width: 200px;
        height: 175px;    
        padding: 1px;
        border-radius: 20px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .bloc3{
        display: flex;
        flex-direction: column;
            
    }    
    .bloc4{
        display: flex;
        flex-direction: column;
        justify-content: center;
         
    }
    .marginCube4{
        
        margin-bottom: 10px;
    }
    .blocActivites2356{
        width: 235px;
        height: 347px;
        margin-left: 10px;
    }
    .cubeActivites{
        width: 664px;
        height: 401px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
    }
    .blocActivites2356{
        width: 664px;
        height: 802px;
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 25px;

    }
    .cubeActivites2{
        width: 664px;
        height: 381px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
    }
    .cubeActivites3{
        width: 664px;
        height: 381px;
        border-radius: 5%;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
    }
    .cubeActivites5{
        width: 664px;
        height: 381px;
        border-radius: 5%;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
    }
    .cubeActivites6{
        width: 664px;
        height: 381px;
        border-radius: 5%;
        box-shadow: 5px 5px 5px        
    } 
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .margeBlocFoot1{
        margin-left: 0px;
    } 
    .margeBlocfoot2{
        margin-left: 0px;
    }  
    .margeBlocFoot3{
        margin-left: 0px;
    }
}


