body{
    font-family: 'Raleway',Impact,Arial,sans-cherif,Verdana; 
}
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexEnd{
    display: flex;     
    justify-content: flex-end;
    align-items: center;     
}
.flexBetween{
    display: flex;  
    justify-content: space-between;  
    align-items: center;
}
.flexColumnCentre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAround{
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}
.flexColumnBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    
}
.decorationNone{
    text-decoration: none;
}
.bordureNone{
    border: none;
}
.texteGras{
    font-weight: bold;
}
.colorBleu{
    color: #0065fc;
}
.colorBleuClair{
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}
.backBleu {
    background-color: #0065fc;
}
.backBleuClair{
    background-color: #deebff;
}
.backGris{
    background-color: #f2f2f2;
}
/*NAV*/
.sizeNav{
    height: auto;
}
.sizeLiens{
    width: 100%;
}
.sizeLien12{
    margin-left: 60%;
}
.sizeLien{
    width: 140px;
    height: 99px;
}
.colorLien2{
    color: black;
}
.bordureNav{
    border-top: 1px solid transparent;
}
.bordurNav:hover > a{
    color: #0065fc;
}
.margLogo{
    margin-bottom: 7px;
}
/*Header*/
.bordureSearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch{
    padding-left: 20px;
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSearch{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/*Filtres*/
.margFiltre{
    margin-top: 50px;
    margin-bottom: 40px;
    align-items: center;
}
.margFiltreTitre{
    margin-right: 20px;
}
.filtre{
    display: flex;
    align-items: center;
}
.filtreTexteIcons{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtreTexteIcons:hover > .filtreTexte{
    color: #0065fc;
}
.filtreTexteIcons:hover > .filtreIcons{
    color: white;
    background-color: #0065fc;
}
.filtreIcons{
    margin-left: -2px;   
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}
.filtreTexte{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 25px 25px 0px;
}
/*info-icon*/
.info{
    display: flex;
    align-items: center;
}
.parentIcon{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/*hebergements*/
.sizeHebergements{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.sizePopulaires{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.blocHebergements{
    padding-left: 10px;
    padding-right: 10px;
}
.cubeHebergements{
    background-color:white;
    width: 30%;
    height: auto;    
    padding: 1%;
    border-radius: 20%;
}
.imgHebergements1{
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements2{
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements3{
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements4{
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements5{
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements6{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}